@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

.big-shoulders-<uniquifier>{
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lexend-deca-<uniquifier>{
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
                        /* ^FONT SETUP */
body{
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.boxes{                     /*MAIN LAYOUT BOXES*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    height: 350px;
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
}    

#box1{                  /*1st BOX - SEDANS*/
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px;
}
#box2{                  /*2nd BOX - SUV'S*/
    background-color: hsl(184, 100%, 22%);
    border-radius: 10px;
}
#box3{                  /*3rd BOX - LUXURY*/
    background-color: hsl(179, 100%, 13%);
    border-radius: 10px;
}

h1{                             /*TITLE TEXT*/
    font-family: Lexend Deca;
    font-weight: 400;
    color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    margin: auto;
    /* border: 3px solid black; */
}

p{                              /*PARAGRAF TEXT*/
    font-family: Big Shoulders Display;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1;
    display: flex;
    flex-wrap: nowrap;
    max-height: 100px;
    min-height: 100px;
    margin: 30px 20px;
    justify-content: start;
    /* border: 3px solid black;  */
}

#SEDAN-B,#SUVS-B,#LUXURY-B{     /*"LEARN MORE" BUTTONS */
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 50px;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    min-width: 100px;
    max-width: 100px;
    
}
#SEDAN-B{                       /*"LEARN MORE" SPECIFIC BUTTONS*/
    color: hsl(31, 77%, 52%);
    font-weight: 700;
}
#SUVS-B{
    color: hsl(184, 100%, 22%);
    font-weight: 700;
}
#LUXURY-B{
    color: hsl(179, 100%, 13%);
    font-weight: 700;
}
#SEDAN-B:hover,#SUVS-B:hover,#LUXURY-B:hover{
    background-color: gray;
    border-color: gray;
}
img.image{
    display: flex;
    justify-content: flex-start;
    margin: 10px 50px;
}
